{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
    <h2>Busbuddy</h2>
    <p>
      For Denver RTD Transit System
    </p>

    <div id = "busform">

    <form action="/post" method= "post" >
      <!-- <div class="myform"> -->
        <label for="">Bus ID: </label>
        <input type="text" name="bus" value="0"><br>
      <!-- </div> -->

      <!-- <div class="myform"> -->
       <label for="">Stop ID:</label>
       <input type="text" name="stop" value="14986">
      <!-- </div> -->

      <!-- <div class="myform"> -->
       <input type="submit" name="Find Arrivals" value="Get Arrivals">
      <!-- </div> -->
    </form>
  </div>
  </div>
{% endblock %}
