<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BusBuddy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"

</head>
<body>
    <header>
      <div class="container">
        <h1 class="logo">arrive on time</h1>
      </div>
      <nav>
        <strong>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
          </ul>
        </strong>
      </nav>
    </header>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

  </body>
</html>
